# 1. Practical introduction to Python
## 1.1. General information

In [7]:
x = 2
y = 3
print('x = {} and y = {}'.format(x, y))

x = 2 and y = 3

In [9]:
print(f'x = {x} and y = {y}')

x = 2 and y = 3

## 1.2. Object types

In [12]:
# Basic numbers and operations
a = 2
b = 3.14
print(a+b)
print(a**b)

5.140000000000001
8.815240927012887

In [14]:
# Complex numbers and power
a = 1j
a**2

(-1+0j)

In [16]:
# Integer division example (// and % operators)
a, b = 10, 4
divisor, rest = a//b, a%b
print('{} = {}x{} + {}'.format(a, divisor, b, rest))

10 = 2x4 + 2

In [20]:
# Strings
w1 = 'hello'
print(w1, len(w1), w1[3])

hello 5 l

In [22]:
# Summing strings is possible (all other operations don't work)
blank, w2 = ' ', 'world'
sentence = w1 + blank + w2
print(sentence)

hello world

In [24]:
# Multiplying a string by an integer is also possible
repetition = sentence * 3
print(repetition)

hello worldhello worldhello world

In [26]:
# Get a list of words from a sentence (cf. below for list objects)
s = 'It is rainy today'
list_words = s.split(' ')
print(list_words)

['It', 'is', 'rainy', 'today']

In [28]:
# Loop over the words and get the number of letters
for w in s.split(' '):
    print(w, len(w))

It 2
is 2
rainy 5
today 5

## 1.3. Object collections

### 1.3.1. Lists

In [42]:
# Defining a list and access basic information
my_list1 = [1, 3, 4, 'banana']
print('Second element is {}'.format(my_list1[1]))
print('Number of elements: {}'.format(len(my_list1)))
print('Is \'banana\' in the list? {}'.format('banana' in my_list1))

Second element is 3
Number of elements: 4
Is 'banana' in the list? True

In [46]:
# Sum of two lists
my_list2 = ['string', 1+3j, [100, 1000]]
my_list = my_list1 + my_list2
print(my_list)

[1, 3, 4, 'banana', 'string', (1+3j), [100, 1000]]

In [48]:
# List multiplied by an integer
my_list = my_list*2
print(my_list)

[1, 3, 4, 'banana', 'string', (1+3j), [100, 1000], 1, 3, 4, 'banana', 'string', (1+3j), [100, 1000]]

In [50]:
# Looping over list element and print the type of seven first elements in the reversed order
for element in my_list[6:0:-1]:
    print('{} is {}'.format(element, type(element)))

[100, 1000] is <class 'list'>
(1+3j) is <class 'complex'>
string is <class 'str'>
banana is <class 'str'>
4 is <class 'int'>
3 is <class 'int'>

### 1.3.2. Sets and tuples

In [52]:
# Tuple
t = (1, 3, 7)
print(t)

(1, 3, 7)

In [54]:
# Access the third element
print(t[2])

7

In [60]:
# Try to modify the second element - using the 'try - except' syntax
try:
    t[1] = 'hello'
except TypeError:
    print('Impossible to change the value of a tuple')

Impossible to change the value of a tuple

In [74]:
# Set
s = {'apple', 'banana', 'orange'}
print(s)

# Add one element
s.add('pineapple')
print(s)

# Add a list
s.update(['pear', 'prune'])
print(s)

{'banana', 'orange', 'apple'}
{'banana', 'orange', 'apple', 'pineapple'}
{'prune', 'apple', 'orange', 'pear', 'pineapple', 'banana'}

In [84]:
# Try to access the second element - using the 'try - except' syntax
try:
    print(s[1])
except TypeError:
    print('Impossible to access element via indexing')

Impossible to access element via indexing

### 1.3.3. Dictionaries

In [43]:
# dictionary
person = {'name': 'Charles', 'age':78, 'size':173, 'gender':'M'}
print(person)

{'name': 'Charles', 'age': 78, 'size': 173, 'gender': 'M'}

In [45]:
# Accessing value using the key
template = '{} ({}) is {} years old and is {} cm'
print(template.format(person['name'], person['gender'], person['age'], person['size']))

Charles (M) is 78 years old and is 173 cm

In [47]:
# Adding a key and its value
person['eyes'] = 'blue'
print(person)

{'name': 'Charles', 'age': 78, 'size': 173, 'gender': 'M', 'eyes': 'blue'}

In [95]:
# Test if a key is present
print('name' in person)
print('brand' in person)

True
False

## 1.4. Loops

### 1.4.1. for loops

In [101]:
# Compute sum(i^2) for i from 0 to 9
x = 0
for i in range(0, 10):
    x += i**2
    print(x)

0
1
5
14
30
55
91
140
204
285

In [105]:
# Loop over fruit via a set and print only ones with a 'p'
for fruit in s:
    if 'p' in fruit:
        print(fruit)

prune
apple
pear
pineapple

In [107]:
# Loop over keys for a dictionary and access the value of each
for properties in person:
    value = person[properties]
    print('{}: {}'.format(properties, value))

name: Charles
age: 78
size: 173
gender: M
eyes: blue

In [109]:
# Loop over dictionary values only
for v in person.values():
    print(v)

Charles
78
173
M
blue

In [111]:
# Loop over both keys and values directly
for key, value in person.items():
    print('{}: {}'.format(key, value))

name: Charles
age: 78
size: 173
gender: M
eyes: blue

In [115]:
# Define a dictionary
students_marks = {
    'Jean': 12,
    'Chloe': 17,
    'Olivier': 8,
    'Helene': 10
}

# Print the key, values items
for name, mark in students_marks.items():
    print(name, mark)

Jean 12
Chloe 17
Olivier 8
Helene 10

In [123]:
# Order it by increasing marks
def get_mark(item):
    return item[1]

# Or by the first letter of the name
def get_name(item):
    return item[0][0]

# Testing with an item
item_test = ('Jacques', 12)
print('{} has a a mark of {} and {} as 1st letter'.format(item_test, get_mark(item_test), get_name(item_test)))

('Jacques', 12) has a a mark of 12 and J as 1st letter

In [127]:
# Get all items and sort them by increasing mark
all_items = students_marks.items()
items_sorted_by_marks = sorted(all_items, key=get_mark)
items_sorted_by_names = sorted(all_items, key=get_name)

In [129]:
# Check the version of Python
import sys
version = sys.version_info[0]
isPython2 = version == 2

In [133]:
# Final conversion of collection of items into a dictionary
if isPython2:
    from collections import OrderedDict
    marks_sorted_dict = OrderedDict(items_sorted_by_marks)
    names_sorted_dict = OrderedDict(items_sorted_by_names)

else:
    marks_sorted_dict = {k: v for k, v in items_sorted_by_marks}
    names_sorted_dict = {k: v for k, v in items_sorted_by_names}

In [135]:
# Check the mark sorted results:
for k, v in marks_sorted_dict.items():
    print(k, v)

Olivier 8
Helene 10
Jean 12
Chloe 17

In [137]:
# Check the name sorted results:
for k, v in names_sorted_dict.items():
    print(k, v)

Chloe 17
Helene 10
Jean 12
Olivier 8

### 1.4.2. while loops

In [140]:
# Cast (ie change type) the set s into a list
my_list = list(s)

In [142]:
# Remove items one by one until there are no items left
while len(my_list) > 0:
    my_list.pop()
    print(my_list)

['prune', 'apple', 'orange', 'pear', 'pineapple']
['prune', 'apple', 'orange', 'pear']
['prune', 'apple', 'orange']
['prune', 'apple']
['prune']
[]

## 1.5. A few Python syntax typs

In [3]:
# List
list_squares = [i**2 for i in range(1, 10)]
print(list_squares)

# Dictionary
dict_squares = {i:i**2 for i in list_squares[0:5]}
print(dict_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
{1: 1, 4: 16, 9: 81, 16: 256, 25: 625}

In [7]:
# Comprehension list with a condition (e.g. keep only if even numbers)
list_even = [i for i in range(0, 10) if i%2 == 0]
print(list_even)

[0, 2, 4, 6, 8]

In [11]:
# Comprehension with nested loops
sum_integers = [i*10+j for i in range(0, 5) for j in range(0, 5)]
print(sum_integers)

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14, 20, 21, 22, 23, 24, 30, 31, 32, 33, 34, 40, 41, 42, 43, 44]

In [25]:
# Position of each word in a sentence
sentence = 'I would like to analyse this sentence in terms of word position'
words = sentence.split(' ')
for i, w in enumerate(words):
    print(w.ljust(10) + ': ' + str(i))

print(words)

I         : 0
would     : 1
like      : 2
to        : 3
analyse   : 4
this      : 5
sentence  : 6
in        : 7
terms     : 8
of        : 9
word      : 10
position  : 11
['I', 'would', 'like', 'to', 'analyse', 'this', 'sentence', 'in', 'terms', 'of', 'word', 'position']

In [27]:
# Associate fruits and colors
fruits = ['banana', 'orange', 'pineapple', 'pear', 'prune']
colors = ['yellow', 'orange', 'brown', 'green', 'purple']
for f, c in zip(fruits, colors):
    print('{} is {}'.format(f, c))

banana is yellow
orange is orange
pineapple is brown
pear is green
prune is purple

In [33]:
# Using zip() with three lists
l1, l2, l3 = range(0, 10), range(0, 100, 10), range(0, 1000, 100)
for i, j, k in zip(l1, l2, l3):
    print(i, j, k, i+j+k)

0 0 0 0
1 10 100 111
2 20 200 222
3 30 300 333
4 40 400 444
5 50 500 555
6 60 600 666
7 70 700 777
8 80 800 888
9 90 900 999

## 1.6 Functions

In [35]:
# Definition syntax
def function(argument):
    result = argument * 3
    return result

# Call syntax
function(2)

6

In [41]:
# Print the result for two types of arguments
print('function(10) = {}'.format(function(10)))
print('function(\'ouh\') = {}'.format(function('ouh')))

function(10) = 30
function('ouh') = ouhouhouh

In [51]:
def person_printer(p):
    template = '{} ({}) is {} years old and is {} cm'
    print(template.format(p['name'], p['gender'], p['age'], p['size']))
    return

def grow_old(p, n_years):

    # 1. copy the dictionary person (otherwise p *will* be modified)
    res = p.copy()

    # 2. Compute the new age and size
    new_age = res['age'] + n_years
    new_size = res['size'] - n_years * 0.13

    # 3. Assign the new age/size to the result
    res['age'] = new_age
    res['size'] = new_size

    # 4. Return the result
    return res

In [55]:
# Print before growing old
person_printer(person)

# Growing old
old_guy = grow_old(person, 10)

# Print after growing old
person_printer(old_guy)

Charles (M) is 78 years old and is 173 cm
Charles (M) is 88 years old and is 171.7 cm

In [57]:
def grow_old(p, n_years):
    '''
    Take a person dictionary and update the age and the size to make the person older.

    Parameters
    ----------
    p: dictionary
        Person object as defined earlier in the code, with at least 'age' (years)
        and 'size' (cms) keys, to get older.

    n_years: integer
        Number of years to be added to the age of the person.

    Returns
    -------
    person: dictionary
        Person object as defined earlier in the code with age and size updated as 
        age -> age + n_years
        size -> size - n_years * 0.13
    '''

    # 1. copy the dictionary person (otherwise p will be modified, which might be problematic)
    res = p.copy()

    # 2. Compute the new age and size
    new_age = res['age'] + n_years
    new_size = res['size'] - n_years * 0.13

    # 3. Assign the new age/size to the result
    res['age'] = new_age
    res['size'] = new_size

    # 4. Return the result
    return res

In [59]:
help(grow_old)

Help on function grow_old in module __main__:

grow_old(p, n_years)
    Take a person dictionary and update the age and the size to make the person older.

    Parameters
    ----------
    p: dictionary
        Person object as defined earlier in the code, with at least 'age' (years)
        and 'size' (cms) keys, to get older.

    n_years: integer
        Number of years to be added to the age of the person.

    Returns
    -------
    person: dictionary
        Person object as defined earlier in the code with age and size updated as
        age -> age + n_years
        size -> size - n_years * 0.13

In [61]:
# Test function
def mean(a, b, c):
    return (a + b + c) / 3

In [63]:
# Packing and unpacking with a list (or a tuple): *list
my_numbers = [10, 12, 15]
mean(*my_numbers)

12.333333333333334

In [65]:
# Packing & unpacking with a dictionary: **dict
my_numbers = {'a':10, 'b':12, 'c':15}
mean(**my_numbers)

12.333333333333334

In [69]:
# Function definition with *args
def test_function(*args):
    print('There are {} arguments: '.format(len(args)))
    for a in args:
        print(' -> {}'.format(a))
    print(' ')
    return

In [75]:
# Test with different numbers/types of arguments
test_function()
test_function('hoho')
test_function('hoho', 3)
test_function('hoho', 3, [1, 'banana'], {'mood':'happy', 'state':'holidays'})

There are 0 arguments:

There are 1 arguments:
 -> hoho

There are 2 arguments:
 -> hoho
 -> 3

There are 4 arguments:
 -> hoho
 -> 3
 -> [1, 'banana']
 -> {'mood': 'happy', 'state': 'holidays'}

In [77]:
# Function definition with kwargs
def test_function(**kwargs):
    print('There are {} arguments: '.format(len(kwargs)))
    for k, v in kwargs.items():
        print(' {}={}'.format(k, v))
    print('')
    return

In [85]:
test_function()
test_function(x = 'hoho')
test_function(word='hoho', multiplicity=3)
test_function(a='hoho', N=3, shopping=[1, 'banana'], feeling={'mood':'happy', 'state':'holidays'})

There are 0 arguments:

There are 1 arguments:
 x=hoho

There are 2 arguments:
 word=hoho
 multiplicity=3

There are 4 arguments:
 a=hoho
 N=3
 shopping=[1, 'banana']
 feeling={'mood': 'happy', 'state': 'holidays'}

In [89]:
# Pack all keyword arguments in a dictionary first
my_args = {
    'a':'hoho',
    'N':3,
    'shopping':[1, 'banana'],
    'feeling': {'mood':'happy', 'state':'holidays'}
}

# Then call the function
test_function(**my_args)

There are 4 arguments:
 a=hoho
 N=3
 shopping=[1, 'banana']
 feeling={'mood': 'happy', 'state': 'holidays'}

## 1.7 File manipulation

In [ ]:
# Open
# f = open('my_file_name.txt', option)

# Close
# f.close()

In [99]:
text = '''Gervaise avait attendu Lantier jusqu'à deux heures du matin. Puis,
toute frissonnante d'être restée en camisole à l'air vif de la fenêtre,
elle s'était assoupie, jetée en travers du lit, fiévreuse, les joues
trempées de larmes.
'''

# Open in write mode
f = open('test.txt', 'w')

# Write string
f.write(text)

# Close 
f.close()

In [109]:
# Open the file in read mode
f = open('test.txt', 'r')

# Loop over the lines
for line in f:

    # Print a header to make the output clearer
    print('\n\n{}'.format('='*50))

    # Print the line as it is given
    print('This line: {}'.format(line))

    # Split by '.' to isolate sentence
    sentences = line.split('.')
    print('This line has {} sentences'.format(len(sentences)))

    # Split each sentence by ' ' to isolate words
    for i, s in enumerate(sentences):
        sclean = s.strip()
        words = sclean.split(' ')
        print(' - sentence {}: {}'.format(i, words))

f.close()

==================================================
This line: Gervaise avait attendu Lantier jusqu'à deux heures du matin. Puis,

This line has 2 sentences
 - sentence 0: ['Gervaise', 'avait', 'attendu', 'Lantier', "jusqu'à", 'deux', 'heures', 'du', 'matin']
 - sentence 1: ['Puis,']


==================================================
This line: toute frissonnante d'être restée en camisole à l'air vif de la fenêtre,

This line has 1 sentences
 - sentence 0: ['toute', 'frissonnante', "d'être", 'restée', 'en', 'camisole', 'à', "l'air", 'vif', 'de', 'la', 'fenêtre,']


==================================================
This line: elle s'était assoupie, jetée en travers du lit, fiévreuse, les joues

This line has 1 sentences
 - sentence 0: ['elle', "s'était", 'assoupie,', 'jetée', 'en', 'travers', 'du', 'lit,', 'fiévreuse,', 'les', 'joues']


==================================================
This line: trempées de larmes.

This line has 2 sentences
 - sentence 0: ['trempées', 'de', 'larmes']
 - sentence 1: ['']