## f-strings and formating

In [3]:
a = 'Hello my name is Jo and I am 39 years old'

In [5]:
print(a)

Hello my name is Jo and I am 39 years old

In [7]:
age = 39

text = f'Hello my name is Jo and I am {age} years old'

In [27]:
print(f'Hello my name is Jo and I am {age*0.13243:.2f} years old')
print(f'Hello my name is Jo and I am {age*0.13243:.2e} years old')

Hello my name is Jo and I am 5.16 years old
Hello my name is Jo and I am 5.16e+00 years old

In [29]:
ages = {'louie':35.67, 'paul':15.67, 'mathusela':1000.4567}

In [31]:
for name, age in ages.items():
    print(f'The person called {name} is {age} years old')

The person called louie is 35.67 years old
The person called paul is 15.67 years old
The person called mathusela is 1000.4567 years old

## Broadcasting

## Broadcasting

In [36]:
import numpy as np

In [94]:
a = np.random.normal(36, 2, size=3000)
a

array([38.7568024 , 35.04155056, 38.43283629, ..., 35.70415836,
       41.0740329 , 38.09203697])

In [96]:
b = a.reshape(3, 1000)
b

array([[38.7568024 , 35.04155056, 38.43283629, ..., 34.95497129,
        38.75272076, 36.65872632],
       [38.17572595, 34.16180998, 37.65143026, ..., 32.51016452,
        37.57961749, 38.09779248],
       [38.3698197 , 35.0657893 , 35.04045031, ..., 35.70415836,
        41.0740329 , 38.09203697]])

In [100]:
b.shape
b

array([[38.7568024 , 35.04155056, 38.43283629, ..., 34.95497129,
        38.75272076, 36.65872632],
       [38.17572595, 34.16180998, 37.65143026, ..., 32.51016452,
        37.57961749, 38.09779248],
       [38.3698197 , 35.0657893 , 35.04045031, ..., 35.70415836,
        41.0740329 , 38.09203697]])

In [84]:
b.reshape(1000, 3)

array([[37.75615438, 40.36486317, 36.23339407],
       [37.50464771, 37.61668773, 36.83495372],
       [35.05548635, 36.50002305, 34.16928243],
       ...,
       [35.35858482, 34.65511185, 35.41761599],
       [38.824417  , 33.57896298, 35.11391407],
       [33.47181505, 33.74486908, 36.36338141]])

In [86]:
b.shape

(3, 1000)

In [110]:
c = np.array([1, 10, 100])
c.shape

(3,)

In [130]:
a = np.random.normal(36, 2, size = (3, 1000))
c = np.array([1, 10, 100])
print(a)
print(c)
a.shape
c.shape

[[35.39519085 38.85825928 33.93032466 ... 36.0909316  38.07557707
  35.95945557]
 [35.53040809 38.16034195 36.15399775 ... 38.11752691 37.90331187
  37.28652667]
 [34.06587962 33.32189246 33.15069495 ... 36.91892868 34.16039575
  34.33737127]]
[  1  10 100]

(3,)

In [144]:
a = np.random.normal(2, 5, size = (10, 2, 5))
b = np.random.normal(2, 5, size = (2, 5))
a*b

array([[[ 1.87099028e+01,  2.27747123e+01,  6.87037819e+00,
         -6.84785650e+00, -7.71109506e+00],
        [-1.97482915e+01,  3.56199199e+00, -8.60759374e-01,
         -7.04814505e-01, -2.38373639e+01]],

       [[ 1.91819274e+01,  1.50492332e+01,  3.06010947e+01,
          4.38830390e+01,  4.34451633e+01],
        [ 1.16919993e+01,  1.04047266e-02, -1.07983340e+01,
          5.60646826e+00, -6.10779915e+00]],

       [[ 2.47969756e+01, -1.23425774e+01,  2.71687696e+00,
         -4.00131319e+00,  2.30009956e+01],
        [-2.50667589e+01, -3.47847308e+01, -4.67833381e+01,
          8.06263375e+00,  1.63091939e+01]],

       [[ 1.05133982e+01,  1.11683907e+00,  2.74572738e-01,
          2.21200488e+01, -5.06765312e+00],
        [ 1.48783091e+01,  5.58689652e+01, -5.11375221e+01,
         -7.96699140e+00, -8.91931232e+00]],

       [[ 9.49656454e-02,  2.56045025e-01,  8.71491030e+00,
          1.35746434e+01,  1.09820275e+01],
        [ 7.74938847e+01, -3.17603150e+01, -7.61332926e+01,
          9.74663396e+00,  8.26944012e-01]],

       [[ 1.05166788e+01,  9.31087523e+00,  6.79582437e+00,
          1.01221546e+01,  3.69645763e+01],
        [ 3.23086454e+01, -4.27695654e+01, -3.83122358e+01,
          3.96375329e+00,  4.54283176e-02]],

       [[-6.95418045e+00,  1.37789881e+01,  1.43197960e+01,
         -1.27805843e+01,  9.59817416e+01],
        [ 6.72380669e+01, -2.43972530e+00, -3.72320708e+01,
         -3.82615796e-01,  2.12181578e+01]],

       [[-3.19816115e+01,  1.43501260e+01,  3.41387394e+01,
          5.90389757e+00,  4.15502380e+01],
        [-9.17418994e+00, -2.63676656e+01,  2.03076659e+01,
          4.92760813e+00,  6.09012967e+00]],

       [[ 3.15678751e+01,  9.40918213e+00,  3.04734038e+01,
          8.25792997e-01,  1.01926786e+01],
        [ 1.27174050e+01, -2.08273301e+01, -1.72339203e+01,
          9.97476020e+00,  1.45203796e+01]],

       [[-1.44212149e+01,  1.22768450e+00,  1.84045268e+01,
          5.57216293e+00,  8.12417113e+00],
        [ 1.85087252e+01, -3.45868719e+01, -1.63746795e+01,
         -6.27858988e-01,  2.67714551e+01]]])

## Pandas

In [149]:
import pandas as pd
df = pd.read_csv('wave_data.csv')
df.head()

,index,date,height,heightMax,period,energy,direction,temperature
0,1,01/01/2017 00:00,-99.900,-99.90,-99.900,-99.900,-99.9,-99.90
1,2,01/01/2017 00:30,0.875,1.39,4.421,4.506,-99.9,-99.90
2,3,01/01/2017 01:00,0.763,1.15,4.520,5.513,49.0,25.65
3,4,01/01/2017 01:30,0.770,1.41,4.582,5.647,75.0,25.50
4,5,01/01/2017 02:00,0.747,1.16,4.515,5.083,91.0,25.45

In [151]:
df1 = df[['direction', 'energy']]

In [159]:
df1[df1 > -99].fillna('')

   direction energy
0
1             4.506
2       49.0  5.513
3       75.0  5.647
4       91.0  5.083
5       68.0  6.181
6       73.0  4.705
7       63.0  4.484
8       68.0  5.042
9       66.0  8.439
10      64.0  4.584
11      56.0  5.211
12      67.0  5.813
13      81.0   4.71
14      90.0  5.353
15      67.0  7.436
16      90.0  6.001
17      90.0  6.414
18      88.0  6.691
19      88.0  6.804
20     122.0  6.641
21      91.0  5.958
22      92.0  6.691

In [173]:
df1[df1 > -99].count()

direction    21
energy       22
dtype: int64

In [179]:
df1.direction.std()
df.direction.mean()

62.573913043478264

In [181]:
df1.describe()

        direction     energy
count   23.000000  23.000000
mean    62.573913   1.217696
std     53.640489  22.066111
min    -99.900000 -99.900000
25%     65.000000   4.876000
50%     73.000000   5.647000
75%     90.000000   6.527500
max    122.000000   8.439000

In [187]:
print(df.direction)
print(df.direction.values)

0     -99.9
1     -99.9
2      49.0
3      75.0
4      91.0
5      68.0
6      73.0
7      63.0
8      68.0
9      66.0
10     64.0
11     56.0
12     67.0
13     81.0
14     90.0
15     67.0
16     90.0
17     90.0
18     88.0
19     88.0
20    122.0
21     91.0
22     92.0
Name: direction, dtype: float64
[-99.9 -99.9  49.   75.   91.   68.   73.   63.   68.   66.   64.   56.
  67.   81.   90.   67.   90.   90.   88.   88.  122.   91.   92. ]