# 1. Practical introduction to Python
## 1.1. General information

In [7]:
x = 2
y = 3
print('x = {} and y = {}'.format(x, y))

x = 2 and y = 3

In [9]:
print(f'x = {x} and y = {y}')

x = 2 and y = 3

## 1.2. Object types

In [12]:
# Basic numbers and operations
a = 2
b = 3.14
print(a+b)
print(a**b)

5.140000000000001
8.815240927012887

In [14]:
# Complex numbers and power
a = 1j
a**2

(-1+0j)

In [16]:
# Integer division example (// and % operators)
a, b = 10, 4
divisor, rest = a//b, a%b
print('{} = {}x{} + {}'.format(a, divisor, b, rest))

10 = 2x4 + 2

In [20]:
# Strings
w1 = 'hello'
print(w1, len(w1), w1[3])

hello 5 l

In [22]:
# Summing strings is possible (all other operations don't work)
blank, w2 = ' ', 'world'
sentence = w1 + blank + w2
print(sentence)

hello world

In [24]:
# Multiplying a string by an integer is also possible
repetition = sentence * 3
print(repetition)

hello worldhello worldhello world

In [26]:
# Get a list of words from a sentence (cf. below for list objects)
s = 'It is rainy today'
list_words = s.split(' ')
print(list_words)

['It', 'is', 'rainy', 'today']

In [28]:
# Loop over the words and get the number of letters
for w in s.split(' '):
    print(w, len(w))

It 2
is 2
rainy 5
today 5

## 1.3. Object collections

### 1.3.1. Lists

In [42]:
# Defining a list and access basic information
my_list1 = [1, 3, 4, 'banana']
print('Second element is {}'.format(my_list1[1]))
print('Number of elements: {}'.format(len(my_list1)))
print('Is \'banana\' in the list? {}'.format('banana' in my_list1))

Second element is 3
Number of elements: 4
Is 'banana' in the list? True

In [46]:
# Sum of two lists
my_list2 = ['string', 1+3j, [100, 1000]]
my_list = my_list1 + my_list2
print(my_list)

[1, 3, 4, 'banana', 'string', (1+3j), [100, 1000]]

In [48]:
# List multiplied by an integer
my_list = my_list*2
print(my_list)

[1, 3, 4, 'banana', 'string', (1+3j), [100, 1000], 1, 3, 4, 'banana', 'string', (1+3j), [100, 1000]]

In [50]:
# Looping over list element and print the type of seven first elements in the reversed order
for element in my_list[6:0:-1]:
    print('{} is {}'.format(element, type(element)))

[100, 1000] is <class 'list'>
(1+3j) is <class 'complex'>
string is <class 'str'>
banana is <class 'str'>
4 is <class 'int'>
3 is <class 'int'>

### 1.3.2. Sets and tuples

In [52]:
# Tuple
t = (1, 3, 7)
print(t)

(1, 3, 7)

In [54]:
# Access the third element
print(t[2])

7

In [60]:
# Try to modify the second element - using the 'try - except' syntax
try:
    t[1] = 'hello'
except TypeError:
    print('Impossible to change the value of a tuple')

Impossible to change the value of a tuple

In [74]:
# Set
s = {'apple', 'banana', 'orange'}
print(s)

# Add one element
s.add('pineapple')
print(s)

# Add a list
s.update(['pear', 'prune'])
print(s)

{'banana', 'orange', 'apple'}
{'banana', 'orange', 'apple', 'pineapple'}
{'prune', 'apple', 'orange', 'pear', 'pineapple', 'banana'}

In [84]:
# Try to access the second element - using the 'try - except' syntax
try:
    print(s[1])
except TypeError:
    print('Impossible to access element via indexing')

Impossible to access element via indexing

### 1.3.3. Dictionaries

In [87]:
# dictionary
person = {'name': 'Charles', 'age':78, 'size':173, 'gender':'M'}
print(person)

{'name': 'Charles', 'age': 78, 'size': 173, 'gender': 'M'}

In [91]:
# Accessing value using the key
template = '{} ({}) is {} years old and is {} cm'
print(template.format(person['name'], person['gender'], person['age'], person['size']))

Charles (M) is 78 years old and is 173 cm

In [93]:
# Adding a key and its value
person['eyes'] = 'blue'
print(person)

{'name': 'Charles', 'age': 78, 'size': 173, 'gender': 'M', 'eyes': 'blue'}

In [95]:
# Test if a key is present
print('name' in person)
print('brand' in person)

True
False

## 1.4. Loops

### 1.4.1. for loops

In [101]:
# Compute sum(i^2) for i from 0 to 9
x = 0
for i in range(0, 10):
    x += i**2
    print(x)

0
1
5
14
30
55
91
140
204
285

In [105]:
# Loop over fruit via a set and print only ones with a 'p'
for fruit in s:
    if 'p' in fruit:
        print(fruit)

prune
apple
pear
pineapple

In [107]:
# Loop over keys for a dictionary and access the value of each
for properties in person:
    value = person[properties]
    print('{}: {}'.format(properties, value))

name: Charles
age: 78
size: 173
gender: M
eyes: blue

In [109]:
# Loop over dictionary values only
for v in person.values():
    print(v)

Charles
78
173
M
blue

In [111]:
# Loop over both keys and values directly
for key, value in person.items():
    print('{}: {}'.format(key, value))

name: Charles
age: 78
size: 173
gender: M
eyes: blue

In [115]:
# Define a dictionary
students_marks = {
    'Jean': 12,
    'Chloe': 17,
    'Olivier': 8,
    'Helene': 10
}

# Print the key, values items
for name, mark in students_marks.items():
    print(name, mark)

Jean 12
Chloe 17
Olivier 8
Helene 10

In [123]:
# Order it by increasing marks
def get_mark(item):
    return item[1]

# Or by the first letter of the name
def get_name(item):
    return item[0][0]

# Testing with an item
item_test = ('Jacques', 12)
print('{} has a a mark of {} and {} as 1st letter'.format(item_test, get_mark(item_test), get_name(item_test)))

('Jacques', 12) has a a mark of 12 and J as 1st letter

In [127]:
# Get all items and sort them by increasing mark
all_items = students_marks.items()
items_sorted_by_marks = sorted(all_items, key=get_mark)
items_sorted_by_names = sorted(all_items, key=get_name)

In [129]:
# Check the version of Python
import sys
version = sys.version_info[0]
isPython2 = version == 2

In [133]:
# Final conversion of collection of items into a dictionary
if isPython2:
    from collections import OrderedDict
    marks_sorted_dict = OrderedDict(items_sorted_by_marks)
    names_sorted_dict = OrderedDict(items_sorted_by_names)

else:
    marks_sorted_dict = {k: v for k, v in items_sorted_by_marks}
    names_sorted_dict = {k: v for k, v in items_sorted_by_names}

In [135]:
# Check the mark sorted results:
for k, v in marks_sorted_dict.items():
    print(k, v)

Olivier 8
Helene 10
Jean 12
Chloe 17

In [137]:
# Check the name sorted results:
for k, v in names_sorted_dict.items():
    print(k, v)

Chloe 17
Helene 10
Jean 12
Olivier 8

### 1.4.2. while loops

In [140]:
# Cast (ie change type) the set s into a list
my_list = list(s)

In [142]:
# Remove items one by one until there are no items left
while len(my_list) > 0:
    my_list.pop()
    print(my_list)

['prune', 'apple', 'orange', 'pear', 'pineapple']
['prune', 'apple', 'orange', 'pear']
['prune', 'apple', 'orange']
['prune', 'apple']
['prune']
[]

## 1.5. A few Python syntax typs